ul {
  list-style-type: none;
  color: #ba9077;
  font-size: 1.3rem;
  font-weight: bold;
  border-bottom: 2px solid #ba9077;
  height: 4rem;
  padding: 0;
}
li {
  width: 50%;
  line-height: 4rem;
  text-align: center;
  display: inline-block;
  background-color: #1d2120;
}
