<div id="container" style="position: relative">
  <button class="content" id="feed-me" (click)="feed()"></button>
  <div class="content" style="margin-left: 1.3rem; line-height: 3rem">{{animal.Name}}</div>
  <div class="content" style="width: 9rem;float: right;margin-right: 1rem">
   <ng-select class="custom"
               [items]="users"
               bindLabel="Name"
               [(ngModel)]="selectedUser"
               style="width: 9rem; margin-right: 0.1rem"></ng-select>

   <button id="save"
            (click)="save()"></button>
  </div>
</div>
